.logRis {
    color: lightblue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: right;
}

.laptoplogo {
    width: 400px;
}

.sidepromo {
    max-width: 900px;
    height: auto;
    margin-top: 10px;
    margin: 0px;
}

.laptechcom {
    padding-left: 20px;
}

.laptech,
.com {
    position: relative;
    bottom: 50px;
}

.col-sm-9,
.col-sm-3 {
    border: 1px solid grey;
}

.row,
.col-sm-12 {
    border: 1px solid grey;
    padding: 10px;
}

.laptop {
    max-width: 350px;
    height: auto;
}

.navtext {
    color: grey;
    font-size: 24px;
    margin-left: 20px;
}

body {
    font-family: Armata;
}

.logoname {
    color: gray;
    font-size: 12px;
    padding-left: 10px;
}

.imagelogo {
    max-width: 100px;
    height: auto;
}

.containerscrolldown {
    height: 50%;
}

.loginPage {
    padding-right: 2px;
}

.registerPage {
    padding-left: 2px;
}

.navbar {
    float: left;
    color: black;
    padding: 0px;
}

.mainlogo {
    max-width: 250px;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: 100px;
}